<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assignComm">
	<insert id="insertComm" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignComm(num, subject, content, userId, regDate, thumbnail, zip, addr1, addr2, pNum) 
			VALUES(ASSIGNCOMM_SEQ.NEXTVAL, #{subject}, #{content}, #{userId}, 
				SYSDATE, #{thumbnail}, #{zip}, #{addr1}, #{addr2}, #{pNum})
	</insert>
	
	<insert id="insertCommDetail" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignCommDetail(num, deposit, monthly, expense, area, bFloor, floor, parking, elevator, transDate) 
			VALUES(ASSIGNCOMM_SEQ.CURRVAL, #{deposit}, #{monthly}, #{expense}, #{area}, #{bFloor}, #{floor}, #{parking}, #{elevator}, #{transDate})
	</insert>
	
	<insert id="insertCommImg" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignCommImg(imgNum, num, imgName) 
			VALUES(assignCommImg_seq.NEXTVAL, ASSIGNCOMM_SEQ.CURRVAL, #{imgName}) 
	</insert>
	
	
	<update id="updateComm" parameterType="com.sp.app.assignComm.Community">
		UPDATE assignComm SET subject=#{subject}, content=#{content}, thumbnail=#{thumbnail}, 
			zip=#{zip}, addr1=#{addr1}, addr2=#{addr2}, pNum=#{pNum}, updateDate=SYSDATE
		WHERE num = #{num}
	</update>
	
	<update id="updateCommDetail" parameterType="com.sp.app.assignComm.Community">
		UPDATE assignCommDetail SET deposit=#{deposit}, monthly=#{monthly}, expense=#{expense}, area=#{area}, 
			bFloor=#{bFloor}, floor=#{floor}, parking=#{parking}, elevator=#{elevator}, transDate=#{transDate}
		WHERE num = #{num}
	</update>
	
	<update id="updateCommImg" parameterType="com.sp.app.assignComm.Community">
		UPDATE assignCommImg SET imgName = #{imgName}
			WHERE imgNum = #{imgNum} AND num = #{num}
	</update>
	
	<delete id="deleteComm" parameterType="long">
		DELETE FROM assignComm 
			WHERE num = #{num}
	</delete>
	
	<select id="readComm" parameterType="long" resultType="com.sp.app.assignComm.Community">
		SELECT a.num, subject, content, userId, regDate, updateDate, pNum, zip, addr1, addr2, thumbnail,
			deposit, monthly, expense, area, floor, bFloor, parking, elevator, transDate
		FROM assignComm a
        JOIN assignCommDetail ad ON a.num = ad.num
		WHERE a.num = #{num}
		
	</select>
	
	<select id="readCommImg" parameterType="long" resultType="com.sp.app.assignComm.Community">
		SELECT imgNum, imgName 
		FROM assignCommImg
		WHERE num = #{num}
        ORDER BY imgNum ASC
	</select>
	
	<select id="listComm" resultType="com.sp.app.assignComm.Community">
		SELECT a.num, subject, content, userId, TO_CHAR(regDate, 'YYYY-MM-DD'), updateDate, pNum, zip, addr1, addr2, thumbnail,
			deposit, monthly, expense, area, bFloor, parking, elevator, transDate
		FROM assignComm a
        JOIN assignCommDetail ad ON a.num = ad.num
        ORDER BY regDate DESC
		
	</select>
</mapper>