<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assignComm">
	<insert id="insertComm" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignComm(num, subject, content, userId, regDate, thumbnail, zip, addr1, addr2) 
			VALUES(ASSIGNCOMM_SEQ.NEXTVAL, #{subject}, #{content}, #{userId}, 
				SYSDATE, #{thumbnail}, #{zip}, #{addr1}, #{addr2})
	</insert>
	
	<insert id="insertCommDetail" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignCommDetail(num, deposit, monthly, expense, area, bFloor, floor, parking, elevator, transDate) 
			VALUES(ASSIGNCOMM_SEQ.CURRVAL, #{deposit}, #{monthly}, #{expense}, #{area}, #{bFloor}, #{floor}, #{parking}, #{elevator}, #{transDate})
	</insert>
	
	<insert id="insertCommImg" parameterType="com.sp.app.assignComm.Community">
		INSERT INTO assignCommImg(imgNum, num, imgName) 
			VALUES(assignCommImg_seq.NEXTVAL, ASSIGNCOMM_SEQ.CURRVAL, #{imgName}) 
	</insert>
	
	
	<update id="updateComm" parameterType="com.sp.app.assignComm.Community">
		
	</update>
	
	<update id="updateCommImg" parameterType="com.sp.app.assignComm.Community">
		
	</update>
	
	<delete id="deleteComm" parameterType="long">
		DELETE FROM assignComm 
			WHERE num=#{num}
	</delete>
	
	<select id="readComm" parameterType="long" resultType="com.sp.app.assignComm.Community">
		
	</select>
	
	<select id="listComm" resultType="com.sp.app.assignComm.Community">
		
	</select>
</mapper>