<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assigncomm">
	<insert id="insertComm">
	
	</insert>
	
	<update id="updateComm">
	
	</update>
	
	<delete id="deleteComm">
	
	</delete>
	
	<select id="readComm">
	
	</select>
	
	<select id="listComm">
	
	</select>
</mapper>