<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commercial">
	<select id="getLongLat_dong" parameterType="Long" resultType="com.sp.app.commercial.Position">
		SELECT longitude, latitude, dongName FROM dong
		WHERE dongNum = #{dongNum}
	</select>
	
	<select id="dong" parameterType="String" resultType="Long">
		SELECT dongNum FROM dong
		WHERE siguNum = #{siguNum}
	</select>
	
	<select id="allDong" resultType="Long">
		SELECT dongNum FROM dong
	</select>
	
	<select id="getSiguLatLong" parameterType="String" resultType="com.sp.app.commercial.Position">
		SELECT latitude, longitude FROM categoryGu
		WHERE siguNum = #{siguNum}
	</select>
	
	<select id="getDongName" parameterType="Long" resultType="String">
		SELECT dongName FROM dong
		WHERE dongNum = #{dongNum}
	</select>
</mapper>