<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commercial">
	<select id="getLongLat_dong" parameterType="Long" resultType="com.sp.app.commercial.Position">
		SELECT longitude, latitude, dongName FROM dong
		WHERE dongNum = #{dongNum}
	</select>
</mapper>