<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqManage">
	<select id="seq" resultType="Long">
		SELECT faq_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertFaq" parameterType="com.sp.app.admin.faqManage.Faq">
		INSERT INTO faq(num, userId, subject, content, regdate)
		VALUES (#{num}, #{userId}, #{subject}, #{content}, SYSDATE)
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'all' ">
			   ( INSTR(subject, #{keyword}) &gt; 0
		          OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 
		          OR INSTR(LOWER(category), LOWER(#{keyword})) &gt; 0 )
			</when>
			<when test="condition == 'regdate' ">
			   ( TO_CHAR(regdate, 'YYYYMMDD') = #{keyword}
		          OR TO_CHAR(regdate, 'YYYY-MM-DD') = #{keyword} )
			</when>
			<otherwise>
			    ( INSTR(${condition}, #{keyword}) &gt; 0 )
			</otherwise>
		</choose>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM faq f
		JOIN member1 m ON f.userId=m.userId
		
		<where>
			
			<if test="keyword!=null and keyword!='' ">
				 <include refid="where-list"/>
			</if>
			
		</where>
	</select>

	<select id="listFaq" parameterType="map" resultType="com.sp.app.admin.faqManage.Faq">
		SELECT f.num, f.userId, userName, subject,regdate, content		
		FROM faq f
		JOIN member1 m ON f.userId=m.userId
		<where>
			<if test="keyword!=null and keyword!='' ">
				 <include refid="where-list"/>
			</if>
		</where>
		ORDER BY  num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="readFaq" parameterType="Long" resultType="com.sp.app.admin.faqManage.Faq">
		SELECT f.num, f.userId, userName, subject, content,regdate		 
		FROM faq f
		JOIN member1 m ON f.userId=m.userId
		WHERE f.num = #{num}
	</select>

	<update id="updateFaq" parameterType="com.sp.app.admin.faqManage.Faq">
		UPDATE faq SET subject=#{subject},
			content=#{content}
		WHERE num = #{num}
	</update>

	<delete id="deleteFaq" parameterType="map">
		DELETE FROM faq WHERE num = #{num}
	</delete>

	<select id="preReadFaq" parameterType="map" resultType="com.sp.app.admin.faqManage.Faq">
		SELECT num, subject
		FROM faq f
		JOIN member1 m ON f.userId=m.userId
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
    <select id="nextReadFaq" parameterType="map" resultType="com.sp.app.admin.faqManage.Faq">
		SELECT num, subject
		FROM faq f
		JOIN member1 m ON f.userId=m.userId
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
</mapper>