<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matching">
	<select id="seq" resultType="Long">
		SELECT matching_seq.NEXTVAL FROM dual
	</select>

	<insert id="insertMatching" parameterType="com.sp.app.matching.Matching" >
		 INSERT INTO Matching(num, userId, name, jobNum, siguNum, dongNum, budget, extent,targetage, targetgender,mdate)
			VALUES (matching_seq.NEXTVAL,  #{userId},  #{name}, #{jobNum}, #{siguNum}, #{dongNum}, #{budget},
				  #{extent}, #{targetage}, #{targetgender} SYSDATE); 
	</insert>
	
	<!-- 모든 시군구(번호, 이름) -->
	<select id="listSigu" resultType="com.sp.app.matching.Matching">
		  SELECT siguNum, siguName 
              FROM CATEGORYGU
	</select>

	<!-- 시군구의 동(번호, 이름): 조건 시군구번호  -->
	<select id="listDong" resultType="com.sp.app.matching.Matching" parameterType="Long">
		   SELECT g.siguNum, g.siguName, dongNum, dongName
           FROM CATEGORYGU g
           JOIN DONG d ON d.siguNum =  g.siguNum
           WHERE d.siguNum = #{siguNum}
    </select>       
     <!-- 모든 업종(번호, 이름) -->
	
	<select id="listCategory" resultType="com.sp.app.matching.Matching">
		SELECT catejobNum, catejobName
		FROM CATEGORYJOB
	</select>
	
	
	<!-- 업종 대분류의 소분류(번호, 이름): 조건 업종 대분류 코드(String형) -->
	<select id="listJob" resultType="com.sp.app.matching.Matching" parameterType="String" >
		SELECT c.catejobNum, c.catejobName, jobNum, jobName
		FROM CATEGORYJOB C
		JOIN JOB J ON c.catejobNum = j.catejobNum
		WHERE j.catejobNum = #{catejobNum}
	
	</select> 

    
	
</mapper>