<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	<insert id="insertQna" parameterType="com.sp.app.qna.Qna">
		INSERT INTO INQUIRYBOARD(num, subject, content, regDate, userId)
		VALUES (INQUIRYBOARD_seq.NEXTVAL, #{subject}, #{content},
		SYSDATE, #{userId})
	</insert>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM INQUIRYBOARD q
		JOIN member1 m ON q.userId=m.userId
	</select>
	

	<select id="listQna" parameterType="map" resultType="com.sp.app.qna.Qna">
		SELECT q.num, m.userName, q.userId, q.subject,
			TO_CHAR(q.regDate, 'YYYY-MM-DD') regDate, q.content, NVL(r.num, 0) isReply
		FROM INQUIRYBOARD q
        JOIN member1 m ON q.userId=m.userId
        LEFT OUTER JOIN INQUIRYREPLY r on q.num = r.num
        ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
		
	<select id="readQuestion" parameterType="Long" resultType="com.sp.app.qna.Qna">
		SELECT m.userName, q.userId, q.num, q.subject, q.content, q.regDate 
			FROM INQUIRYBOARD q 
			JOIN member1 m ON q.userId = m.userId
			WHERE num = #{num}
	</select>
	
	<select id="readAnswer" parameterType="Long" resultType="com.sp.app.qna.Qna">
		SELECT m.userName, r.regDate, r.content
			FROM INQUIRYREPLY r 
			JOIN member1 m ON m.userId = r.userId
			WHERE num = #{num}
	</select>
	
	
	<update id="updateQna" parameterType="com.sp.app.qna.Qna">
		UPDAET INQUIRYBOARD SET subject=#{subject}, content=#{content}
			WHERE num = #{num} AND userId = #{userId}	
	</update>
	

	<delete id="deleteQna" parameterType="Long">
		  DELETE FROM INQUIRYBOARD 
		  	WHERE num = #{num}
	</delete>
	
	
</mapper>